body {
    background: linear-gradient(90deg,#1c2541,#3a506b );
}

.navbar a { color:#fff; margin-left:10px; text-decoration:none; padding:8px 12px; border-radius:8px; }
.navbar a:hover { background:#5bc0be; color:#ffffff; }

h1 { text-align:center; margin-top:20px; color:#ffffff;}
h2 {color:#ffffff;}

.card-grid {
    display:grid; grid-template-columns:repeat(auto-fit,minmax(240px,1fr)); gap:18px; margin-top:25px;
}

.card {
    background:#1c2541; padding:20px; border-radius:16px; text-align:center; transition:0.3s; color:#ffffff;
}
.card:hover { transform:scale(1.03); }

.btn {
    display:inline-block; margin-top:10px; padding:10px 14px;
    background:#5bc0be; color:#000; border-radius:10px; text-decoration:none; font-weight:bold;
}

.table-box {
    margin-top:25px; padding:15px; border-radius:12px; background:#1c2541; 
}

table { width:100%; border-collapse:collapse; }
th, td { padding:10px; text-align:center; color:#ffffff; }
th { background:#5bc0be; color:#ffffff; }

/* Shift Colors */
.morning { color:#00ff88; font-weight:bold; }
.evening { color:#ffd166; font-weight:bold; }
.night { color:#ff4d6d; font-weight:bold; }

/* Form */
input, select { width:100%; padding:10px; margin-top:10px; border-radius:8px; border:none; }
button { margin-top:12px; padding:10px; border:none; border-radius:8px; background:#5bc0be; }
button:hover { background:#3aafa9; }
/* Common button base */
.btn {
    display: inline-block;
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s ease;
}

/* Add Staff Button (Green) */
.btn-add {
    background: #00c853;
    color: white;
}

.btn-add:hover {
    background: #009624;
    transform: scale(1.05);
}

/* Back Button (Blue) */
.btn-back {
    background: #2979ff;
    color: white;
}

.btn-back:hover {
    background: #1565c0;
    transform: scale(1.05);
}
.btn:hover {
    box-shadow: 0 0 10px rgba(255,255,255,0.6);
}