<!DOCTYPE html>
<html>
<head>
<title>Duty</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">

<div class="navbar">
<h2>📋 Duty Chart</h2>
<a href="/">Home</a>
</div>

    <div class="table-box">
        <table>
            <thead>
                <tr>
                    <th>Officer</th>
                    <th>Rank</th>
                    <th>Contact Info</th>
                    <th>Assigned Shift</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for d in duty %}
                <tr>
                    <td><strong>{{ d[1] }}</strong></td>
                    <td>{{ d[2] }}</td>
                    <td>
                        <div style="font-size: 0.8rem;">📧 {{ d[5] }}</div>
                        <div style="font-size: 0.8rem;">📱 {{ d[6] }}</div>
                    </td>
                    <td><span class="{% if d[3]=='Morning' %}morning{% elif d[3]=='Evening' %}evening{% else %}night{% endif %}">{{ d[3] }}</span></td>
                    <td>{{ d[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
</body>
</html>